<nav class="pcoded-navbar dashboard-nav menupos-fixed ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">

                <li class="nav-item">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="fas fa-sitemap"></i></span><span class="pcoded-mtext">Trang chủ</span></a>
                </li>
                <% if (session.user_level == 2){ %>
                    <li class="nav-item">
                        <a href="/groups" class="nav-link "><span class="pcoded-micon"><i class="fas fa-sitemap"></i></span><span class="pcoded-mtext">Quản lý nhóm</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/classes" class="nav-link "><span class="pcoded-micon"><i class="fas fa-clipboard-list"></i></span><span class="pcoded-mtext">Quản lý lớp</span></a>
                    </li>
                    <% }%>
                        <% if (session.user_level == 1){ %>
                            <li class="nav-item">
                                <a href="/groups/my" class="nav-link "><span class="pcoded-micon"><i class="fas fa-university"></i></span><span class="pcoded-mtext">Nhóm của tôi</span></a>
                            </li>
                            <% }%>
                                <li class="nav-item">
                                    <a href="/users" class="nav-link "><span class="pcoded-micon"><i
                            class="fas fa-clipboard-list"></i></span><span class="pcoded-mtext">Quản lý người dùng</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/authen/signout" class="nav-link "><span class="pcoded-micon"><i class="fas fa-outdent"></i></span><span class="pcoded-mtext">Đăng xuất</span></a>
                                </li>
                                <% if (session.user_level == 2){ %>
                                    <li class="nav-item">
                                        <a href="/settings" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Cấu hình</span></a>
                                    </li>
                                    <% }%>
        </div>
    </div>
</nav>