<% extend('../partials/layout') %>
    <!-- data tables css -->
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center mb-4">
                    <h1 class="d-inline-block font-weight-normal mb-0">
                        <%= title %>
                    </h1>
                </div>
            </div>
            <div class="row">
                <!-- [ Inputs ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Họ và tên</label>
                                        <input id="full_name" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">SĐT</label>
                                        <input id="phone" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mạng xã hội</label>
                                        <input id="social" type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-sm-12">
                                    <form class="was-validated">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Địa chỉ</label>
                                            <input id="address" type="text" class="form-control" value="">
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telegram Username</label>
                                        <input id="tele_user" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telegram ID</label>
                                        <input id="tele_id" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-end">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lương dạy</label>
                                        <input value="" id="day_salary" type="number" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lương coi thi</label>
                                        <input value="" id="thi_salary" type="number" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Lương dịch vụ</label>
                                        <input value="" id="dv_salary" type="number" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Inputs ] end -->
                <!-- [ Inputs ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="datta-example mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleSelect1">Loại người dùng</label>
                                                    <select class="form-control" id="user_level">
                                                        <option selected value="0">Giáo viên</option>
                                                        <option value="1">Trưởng nhóm</option>
                                                        <option value="2">Admin</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleSelect1">Tên tài khoản [Không bắt buộc]</label>
                                                    <input value="" id="username" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleSelect1">Mật khẩu [Không bắt buộc]</label>
                                                    <input value="" id="password" type="password" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" id="add_user" class="btn btn-primary">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Inputs ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    </div>
    <script defer>
        console.log("Page script")
    </script>